<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="HIRUMACHIは現在位置から半径3km以内の飲食店の混雑状況を共有するアプリです" name="description">
    
    <title>Hirumachi</title>
    
    <%=favicon_link_tag %>
    
    <title>HIRUMACHI</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= yield :head %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    
    <div class="container">
      <%= render 'layouts/flash_messages' %>
      
      <div class="desc">
        <h2>HIRUMACHIはあなたの半径3kmの飲食店の混み具合を共有できます！</h2>
      </div>
      
      <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
